<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-body">
						<h1>合同详情</h1>
							<form class="form-horizontal m-t" id="signupForm">
								<input id="houseContractCustomerId" name="houseContractCustomerId" class="form-control"  th:value="${contract.houseContractCustomerId}" type="hidden">
								<div class="alert alert-info" role="alert">客户信息：<button class="btn btn-primary" type="button" onclick="getCustomers();">选择客户</button></div>
								<div class="form-group">
									<label class="col-sm-1 control-label">客户id：</label>
									<div class="col-sm-2">
										<input id="customerId" name="customerId" class="form-control"  th:value="${contract.customerId}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">客户名称 ：</label>
									<div class="col-sm-2">
										<input id="customerName" name="customerName" class="form-control"  th:value="${contract.customerName}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">客户状态:</label>
									<div class="col-sm-2">
										<label class="radio-inline"> <input id="customerStatus1" th:field="*{contract.customerStatus}" type="radio" name="customerStatus" value="1" disabled="true" />正常</label> 
										<label class="radio-inline"> <input id="customerStatus0" th:field="*{contract.customerStatus}" type="radio" name="customerStatus" value="0" disabled="true" />禁用</label>
									</div>
									<label class="col-sm-1 control-label">客户说明 ：</label>
									<div class="col-sm-2">
										<input id="customerRemark" name="customerRemark" class="form-control"  th:value="${contract.customerRemark}" type="text" readonly="readonly">
									</div>
								</div>
								
								<div class="alert alert-info" role="alert">房屋信息：<button class="btn btn-primary" type="button" onclick="getHouses();">选择房屋</button></div>
								<div class="form-group">
									<label class="col-sm-1 control-label">房屋id：</label>
									<div class="col-sm-2">
										<input id="houseId" name="houseId" class="form-control"  th:value="${contract.houseId}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">房屋编号 ：</label>
									<div class="col-sm-2">
										<input id="houseNumber" name="houseNumber" class="form-control"  th:value="${contract.houseNumber}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">房屋地址：</label>
									<div class="col-sm-5">
										<input id="address" name="address" class="form-control"  th:value="${contract.address}" type="text" readonly="readonly">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">面积：</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input id="space" name="space" class="form-control"  th:value="${contract.space}" type="text" readonly="readonly">
      										<div class="input-group-addon">平方米</div>
   							 			</div>
									</div>
									<label class="col-sm-1 control-label">房屋状态:</label>
									<div class="col-sm-2">
										<label class="radio-inline"> <input th:field="*{contract.houseStatus}" type="radio" name="houseStatus" value="1" disabled="true" />闲置</label> 
										<label class="radio-inline"> <input th:field="*{contract.houseStatus}" type="radio" name="houseStatus" value="0" disabled="true" />以租赁</label>
									</div>
									<label class="col-sm-1 control-label">归属区域：</label>
									<div class="col-sm-2">
										<input id="area" name="area" class="form-control"  th:value="${contract.area}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">房屋类型：</label>
									<div class="col-sm-2">
										<label class="radio-inline"> <input th:field="*{contract.houseType}" type="radio" name="houseType" value="B013" disabled="true" />存续</label> 
										<label class="radio-inline"> <input th:field="*{contract.houseType}" type="radio" name="househouseTypeStatus" value="A013" disabled="true" />股份</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">房屋说明：</label>
									<div class="col-sm-5">
										<input id="houseRemark" name="houseRemark" class="form-control"  th:value="${contract.houseRemark}" type="text" readonly="readonly">
									</div>
								</div>
								
								<div class="alert alert-info" role="alert">合同信息：</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">业务号 ：</label>
									<div class="col-sm-2">
										<input id="number" name="number" class="form-control"  th:value="${contract.number}" type="text">
									</div>
								</div>	
								<div class="form-group">
									<label class="col-sm-1 control-label">合同id：</label>
									<div class="col-sm-2">
										<input id="contractId" name="contractId" class="form-control"  th:value="${contract.contractId}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">合同编号 ：</label>
									<div class="col-sm-2">
										<input id="contractNumber" name="contractNumber" class="form-control"  th:value="${contract.contractNumber}" type="text">
									</div>
									<label class="col-sm-1 control-label">经办人 ：</label>
									<div class="col-sm-2">
										<input id="operator" name="operator" class="form-control"  th:value="${contract.operator}" type="text" readonly="readonly">
									</div>
									<label class="col-sm-1 control-label">合同名称 ：</label>
									<div class="col-sm-2">
										<input id="contractName" name="contractName" class="form-control"  th:value="${contract.contractName}" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">起始日期：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" placeholder="请选择日期" id="startTime" name="startTime" th:value="${contract.startTime}">
									</div>
									<label class="col-sm-1 control-label">到期日期 ：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" placeholder="请选择日期" id="stopTime" name="stopTime" th:value="${contract.stopTime}">
									</div>
									<label class="col-sm-1 control-label">租金 ：</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input id="rent" name="rent" class="form-control"  th:value="${contract.rent}" type="text">
      										<div class="input-group-addon">元</div>
   							 			</div>
									</div>
									<label class="col-sm-1 control-label">缴费周期：</label>
									<div class="col-sm-2">
										<label class="radio-inline"> <input id="leadTime1" th:field="*{contract.leadTime}" type="radio" name="customerStatus" value="月缴"  />月缴</label> 
										<label class="radio-inline"> <input id="leadTime2" th:field="*{contract.leadTime}" type="radio" name="customerStatus" value="季缴"  />季缴</label>
										<label class="radio-inline"> <input id="leadTime3" th:field="*{contract.leadTime}" type="radio" name="customerStatus" value="年缴"  />年缴</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">发票类型：</label>
									<div class="col-sm-2">
										<input id="invoiceType" name="invoiceType" class="form-control"  th:value="${contract.invoiceType}" type="text">
									</div>
									<label class="col-sm-1 control-label">递增周期 ：</label>
									<div class="col-sm-2">
										<div class="input-group">
      										<input id="growthTime" name="growthTime" class="form-control"  th:value="${contract.growthTime}" type="text">
      										<div class="input-group-addon">个月</div>
   							 			</div>
									</div>
									<label class="col-sm-1 control-label">定金：</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input id="deposit" name="deposit" class="form-control"  th:value="${contract.deposit}" type="text">
      										<div class="input-group-addon">元</div>
   							 			</div>
									</div>
									<label class="col-sm-1 control-label">创建日期：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control"   name="createTime" th:value="${contract.createTime}" readonly="readonly">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">年递增率 ：</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input id="growthRate" name="growthRate" class="form-control"  th:value="${contract.growthRate}" type="text">
      										<div class="input-group-addon">%</div>
   							 			</div>
									</div>
									<label class="col-sm-1 control-label">租金明细：</label>
									<div class="col-sm-8">
										<input id="rentDetail" name="rentDetail" class="form-control"  th:value="${contract.rentDetail}" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">合同状态:</label>
									<div class="col-sm-2">
										<label class="radio-inline"> <input th:field="*{contract.contractStatus}" type="radio" name="contractStatus" value="1" />已生效</label> 
										<label class="radio-inline"> <input th:field="*{contract.contractStatus}" type="radio" name="contractStatus" value="0" />未生效</label>
									</div>
									<label class="col-sm-1 control-label">状态说明 ：</label>
									<div class="col-sm-5">
										<input id="statusDescription" name="statusDescription" class="form-control"  th:value="${contract.statusDescription}" type="text">
									</div>
									<label class="col-sm-1 control-label">关联公司 ：</label>
									<div class="col-sm-2">
										<input id="company" name="company" class="form-control"  th:value="${contract.company}" type="text">
									</div>
								</div>
								
								
								<div class="text-right form-group">
									<a class="btn btn-default waves-effect waves-light" href="#" onclick="back();">返回列表</a>
									<button type="submit" class="btn btn-primary">保存合同</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var houseId = [[${contract.houseId}]];
		var customerId = [[${contract.customerId}]];
	</script>
	<script type="text/javascript">
		laydate.render({
		  	elem: '#startTime' //指定元素
		});
		laydate.render({
		  	elem: '#stopTime' //指定元素
		});
		function back(){
			var index = parent.layer.getFrameIndex(window.name); //获取窗口索引  
			parent.layer.close(index);//关闭弹出的子页面窗口  
		}
		
		function getCustomers() {
			layer.open({
				type : 2,
				title : '获取客户',
				maxmin : true,
				shadeClose : false,
				area : [ '800px', '320px' ],
				content : '/rent/customer/selectCustomer',
			});
		}
		function getMethodValue(customerId){//根据customerId获取customer对象
			$.ajax({
				cache : true,
				type : "POST",
				url : "/rent/customer/getId",
				dataType: "json",
				data : {customerId:customerId},
				error : function(request) {
					alert("Connection error");
				},
				success : function(data) {
					if($("input[name='customerStatus'][value='0']").attr("checked")=="checked"){
						$("input[name='customerStatus'][value='0']").removeAttr('checked');
					}
					if($("input[name='customerStatus'][value='1']").attr("checked")=="checked"){
						$("input[name='customerStatus'][value='1']").removeAttr('checked');
					}
					customerId=data.customerId;
					$('#customerId').val(data.customerId);
					$('#customerName').val(data.customerName);
					$("input[name='customerStatus'][value='"+data.customerStatus+"']").prop("checked",true);
					$('#customerRemark').val(data.customerRemark);
				}
			});
			houseId=$("#houseId").val();
			if(houseId!=""&&customerId!=""){
				selectNumber(houseId,customerId);
			}
		}
		
		function getHouses() {
			layer.open({
				type : 2,
				title : '获取房屋',
				maxmin : true,
				shadeClose : false,
				area : [ '800px', '320px' ],
				content : '/rent/house/selectHouse',
			});
		}
		function getMethodValue2(houseId){//根据customerId获取customer对象
			$.ajax({
				cache : true,
				type : "POST",
				url : "/rent/house/getId",
				dataType: "json",
				data : {houseId:houseId},
				error : function(request) {
					alert("Connection error");
				},
				success : function(data) {
					if($("input[name='houseStatus'][value='0']").attr("checked")=="checked"){
						$("input[name='houseStatus'][value='0']").removeAttr('checked');
					}
					if($("input[name='houseStatus'][value='1']").attr("checked")=="checked"){
						$("input[name='houseStatus'][value='1']").removeAttr('checked');
					}
					if($("input[name='houseType'][value='A013']").attr("checked")=="checked"){
						$("input[name='houseType'][value='A013']").removeAttr('checked');
					}
					if($("input[name='houseType'][value='B013']").attr("checked")=="checked"){
						$("input[name='houseType'][value='B013']").removeAttr('checked');
					}
					houseId=data.houseId;
					$('#houseId').val(data.houseId);
					$('#houseNumber').val(data.houseNumber);
					$('#address').val(data.address);
					$('#space').val(data.space);
					$("input[name='houseStatus'][value='"+data.houseStatus+"']").prop("checked",true);
					$('#area').val(data.area);
					$("input[name='houseType'][value='"+data.houseType+"']").prop("checked",true);
					$('#customerRemark').val(data.customerRemark);
				}
			});
			customerId=$("#customerId").val();
			if(houseId!=""&&customerId!=""){
				selectNumber(houseId,customerId);
			}
		}
		
		function selectNumber(houseId,customerId){
			$.ajax({
				cache : true,
				type : "POST",
				url : "/rent/houseContractCustomer/selectNumber",
				dataType: "json",
				data : {houseId:houseId,customerId:customerId},
				error : function(request) {
					$("#number").val("");
				},
				success : function(data) {
					$("#number").val(data.number);
					//$("#number").attr("readonly","readonly");
				}
			});
		}
	</script>
	<script type="text/javascript" src="/js/appjs/rent/contract/detail.js"></script>
</body>
</html>
